<!DOCTYPE html>
<html>

  <head>
    <script src="../static/d3_4-src/d3.min.js" charset="utf-8"></script>
    <style>
      body {margin-left: 15%; margin-right: 15%; margin-top: 5%; }
      #svg {padding: 60px;}
      .axis path,
      .axis line {
      fill: none;
      stroke: black;
      shape-rendering: crispEdges;
      }
    
      .axis text {
      font-family: sans-serif;
      font-size: 11px;
      }
    </style>    
  </head>

  <body>
    <center>
      <svg id="svg" xmlns="http://www.w3.org/2000/svg" width="850"; height="550";></svg>
    </center>
  </body>

  <script src="../static/base.js"></script>
</html>
